<footer id="footer" class="background-color-white">
    <div class="container">
       <div class="vertical-space-100"></div>
       <div class="row">
          <div class="col-lg-4 col-md-6 vertical-space-2">
             <h5>About Us</h5>
             <p class="paregraf">Tristique velit phasellus sed auctor leo eros luctus nibh fermentu ad impediet rhonus dolor habitant purus velit aliquet donecurna ut in turpis faucibus</p>
             <a href="#">
             <i class="fa fa-facebook social-icon"></i></a>
             <a href="#">
             <i class="fa fa-twitter social-icon"></i></a>
             <a href="#">
             <i class="fa fa-pinterest-p social-icon"></i></a>
             <a href="#">
             <i class="fa fa-map-marker social-icon"></i></a>
          </div>
          <div class="col-lg-2 col-md-6 vertical-space-2">
             <h5>Company</h5>
             <div class="text">
                <a href="#">About</a>
                <a href="#">Support</a>
                <a href="#">Tems</a>
                <a href="#">Privacy</a>
             </div>
          </div>
          <div class="col-lg-2 col-md-6 vertical-space-2">
             <h5>Supports</h5>
             <div class="text">
                <a href="#">About</a>
                <a href="#">Support</a>
                <a href="#">Tems</a>
                <a href="#">Privacy</a>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 vertical-space-2">
             <h5>Subscribe Us</h5>
             <p>Get latest update and newsletter</p>
             <div class="vertical-space-30"></div>
             <form>
                <input type="email" class="email " placeholder="Email Address " required="">
                <span class="fa fa-envelope email-icone "></span>
                <input type="submit" class="Subscribe" value="Subscribe">
             </form>
          </div>
       </div>
       <div class="vertical-space-60"></div>
    </div>
    <div class="container-fluid background-color-orange main-footer">
       <div class="container text-center">
          <div class="vertical-space-30"></div>
          <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
       </div>
    </div>
 </footer>